<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :floor_id %><br>
    <%= f.text_field :floor_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :floor_area %><br>
    <%= f.number_field :floor_area %>
  </div>
  <div class="field">
    <%= f.label :deposit %><br>
    <%= f.number_field :deposit %>
  </div>
  <div class="field">
    <%= f.label :rent %><br>
    <%= f.number_field :rent %>
  </div>
  <div class="field">
    <%= f.label :management_fee %><br>
    <%= f.number_field :management_fee %>
  </div>
  <div class="field">
    <%= f.label :tax_1 %><br>
    <%= f.number_field :tax_1 %>
  </div>
  <div class="field">
    <%= f.label :subtotal_1 %><br>
    <%= f.number_field :subtotal_1 %>
  </div>
  <div class="field">
    <%= f.label :electric_fee %><br>
    <%= f.number_field :electric_fee %>
  </div>
  <div class="field">
    <%= f.label :tax_2 %><br>
    <%= f.number_field :tax_2 %>
  </div>
  <div class="field">
    <%= f.label :subtotal_2 %><br>
    <%= f.number_field :subtotal_2 %>
  </div>
  <div class="field">
    <%= f.label :water_fee %><br>
    <%= f.number_field :water_fee %>
  </div>
  <div class="field">
    <%= f.label :tv_fee %><br>
    <%= f.number_field :tv_fee %>
  </div>
  <div class="field">
    <%= f.label :total %><br>
    <%= f.number_field :total %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
