<!DOCTYPE html>
<html>
<head>
  <title>ck payment</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	  
	  <div class="masthead">
	    <%= render 'layouts/user_header' %>
	    <h3 class="muted"><%= link_to "ck Payment", root_path %></h3>
	  </div>
	  
	  <hr />

		<div class="container">
    	<%= flash_messages %>
		</div>
	  
	  <div class="container-fluid">
	 	 <%= yield %>
    	
		</div>

</body>
</html>
`